<!-- Footer start -->
<footer class="bg-black py-8 mt-auto">
  <div class="flex flex-col md:flex-row items-center">
    <div
      class="flex flex-1 flex-wrap items-center justify-center md:justify-center gap-12"
    >
      <div class="flex items-center justify-center">
        <span class="text-white"> SHIFT BUILDER </span>
      </div>
      <ul class="flex text-white uppercase gap-12 text-xs">
        <li class="cursor-pointer">
          <a class="text-white" routerLink="/home">My shifts</a>
        </li>
        <li class="cursor-pointer">
          <a class="text-white" routerLink="/add-shift">Add a shift</a>
        </li>
        <li class="cursor-pointer">
          <a class="text-white" routerLink="/profile">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!-- Footer end -->
